main {
  padding-top: 60px;
}

.pointer {
  cursor: pointer;
}
/* Sticky footer styles
-------------------------------------------------- */

.text-frame {
  max-height: 350px;
  overflow: auto;
}
.font-18 {
  font-size: 18px;
}
.quantity {
  max-width: 60px;
  display: inline-block;
}
